
@font-face{
    font-family:'Sora-Medium';
    src: url(./fonts/Sora-Medium.ttf) format('woff2'),
    url(./fonts/Sora-Medium.ttf) format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Inter-ExtraBold';
    src: url(./fonts/Inter-ExtraBold.ttf) format('woff2'),
    url(./fonts/Inter-ExtraBold.ttf) format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Inter-Light';
    src: url(./fonts/Inter-Light.ttf) format('woff2'),
    url(./fonts/Inter-Light.ttf) format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Sora-Extra-Bold';
    src: url(./fonts/Sora-ExtraBold.ttf) format('woff2'),
    url(./fonts/Sora-ExtraBold.ttf) format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Sora-Bold';
    src: url(./fonts/Sora-Bold.ttf) format('woff2'),
    url(./fonts/Sora-Bold.ttf) format('woff');

    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Sora-Medium', Arial, Helvetica, sans-serif !important;
}

nav{
    padding: 8px 0;
}

.container-navbar{
    margin: 0 82px;
    padding: 0 12px;
}

.navbar-brand{
    padding: 10px 0;
    margin-right: 16px;
}

.navbar-links{
    margin-left: 100px;
}

.navbar-nav a{
    color: white;
    font-size: 14px;
    margin-right: 15px;
}

.nav-phone{
    text-align: center;
    margin: 0,5rem;
}

.nav-phone p{
    font-family:'Inter-ExtraBold';
    font-size: 16px !important;
}

.nav-phone small{
    font-family: 'Inter-Light';
    font-size: 10px !important;
}

.phone-text{
    color: white;
    padding: 0;
    margin: 0;
}

.text-initial{
    width: 40%;
    left: 10%;
    text-align: left;
    position: absolute;
    top: 15%;
    color: white;
}

.text-initial span{
    font-family:'Sora-Extra-Bold' !important;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

.text-initial div p{
    font-family: 'Inter-Light' !important;
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 2rem;
    font-weight: lighter;
    padding: 1rem 0;
}

.text-initial div a{
    font-family: 'Sora-Bold' !important;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 8px 16px;
    border-radius: 10px; 
}

.text-initial div a i{
    padding-right: 5px;
}

.text-initial div a:hover{
    color: black;
    background-color: white;
}

/*Main*/

.pt{
    padding-top: 3rem !important;
    font-size: 22px;
    color: black;
}

.marcador{
    width: 60px;
    height: 5px;
    margin: 0 auto;
    background-color: #007DC6;
    border: none;
    cursor: default;
    margin-bottom: 2rem;
}

.card{
    margin: 20px;
}

.card-img-top{
    width: 100%;
}

.slick-dots li button:before{
    font-size: 5rem;
    width: 20px;
    height: 20px;
    content: '-';
    opacity: .25;
    color: #007DC6;
}

.slick-dots li.slick-active button:before{
    opacity: .75;
    color: #6898b4;
}


#segmentos{
    margin-top: 20px;
    max-width: 1300px;
}

#segmentos .card i{
    margin: 20px;
    margin-top: 50px;
    color: #007DC6;
    background-color: #fff;
}

#segmentos .card{
    margin: 20px !important;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

#segmentos .card:hover,#segmentos .card:hover i,#segmentos .card:hover h5,#segmentos .card:hover p{
    background-color: #007DC6;   
    color:#FFF; 
    cursor: pointer;
}

#segmentos .card:hover img{
    filter:  brightness(0) invert(1);
    
}

#segmentos .card{
    margin: 5px;
    min-height:200px;
}

#segmentos .card svg{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

#segmentos * {
    margin: 0 auto;
    padding: 0;
    border: 0;
}



#segmentos img{
    width: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#segmentos h5{
    font-size: 22px;
    color: #000;
}

#segmentos p{
    font-family:"Inter-Light" !important;
    font-size: 15px;
    color: #666;
}

/*Rodapé*/

.baner-rodape{
    padding: 0;
    text-align: center;
}

.baner-erp div{
    position: relative;
}

.bg-emp{
    object-fit: cover;
    background: black;
    -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%) !important;
    min-height: 500px;
    background-position: center top;
    background-size: 100% auto;
    color: #FFF;
    position: relative;
}